@font-face {
  font-family: "iconfont"; /* Project id 1993042 */
  src: url('http://at.alicdn.com/t/font_1993042_ftkm0ao0ncl.woff2?t=1631073031093') format('woff2'),
       url('http://at.alicdn.com/t/font_1993042_ftkm0ao0ncl.woff?t=1631073031093') format('woff'),
       url('http://at.alicdn.com/t/font_1993042_ftkm0ao0ncl.ttf?t=1631073031093') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconbiaoqian:before {
  content: "\e686";
}

.iconchayan:before {
  content: "\e687";
}

.icondingzhi:before {
  content: "\e684";
}

.iconzhengshu:before {
  content: "\e685";
}

.iconyoushangjiantou:before {
  content: "\e681";
}

.iconGroup1668:before {
  content: "\e67e";
}

.iconcishansuyuan:before {
  content: "\e67d";
}

.iconchoujiangyaohaogongzheng:before {
  content: "\e67b";
}

.iconchongdianzhuang1:before {
  content: "\e67c";
}

.iconsifagongzhengfuwu:before {
  content: "\e667";
}

.iconyingshouzhangkuan:before {
  content: "\e668";
}

.iconfenbushidianlijiaoyi:before {
  content: "\e669";
}

.iconjianyujifenkaohe:before {
  content: "\e66a";
}

.iconzhishichanquanbaohu:before {
  content: "\e66b";
}

.iconshichangjiandu:before {
  content: "\e66c";
}

.icongongjianfalianmeng:before {
  content: "\e66d";
}

.iconqukuailiandianzihetong:before {
  content: "\e66e";
}

.icondianzihuazhengmingpingtai:before {
  content: "\e66f";
}

.iconzhengwushujuzhili:before {
  content: "\e670";
}

.iconshuzishenfenpingtai:before {
  content: "\e671";
}

.iconzhihuibudongchan:before {
  content: "\e672";
}

.iconfeishuipiaoju:before {
  content: "\e673";
}

.iconKYCxinxigongxiang:before {
  content: "\e674";
}

.iconyanglaojintuoguan:before {
  content: "\e675";
}

.iconfangwuzulin:before {
  content: "\e676";
}

.iconzhuankoumaoyifuwu:before {
  content: "\e677";
}

.iconjianshezijinjianguan:before {
  content: "\e678";
}

.iconyinzhenghulianjinrongzonghefuwu:before {
  content: "\e679";
}

.iconzichanzhengquanhua:before {
  content: "\e67a";
}

.iconbannerjiantou:before {
  content: "\e655";
}

.iconGroup14512:before {
  content: "\e64b";
}

.iconGroup14511:before {
  content: "\e64c";
}

.iconGitHub:before {
  content: "\e64a";
}

.iconyou2:before {
  content: "\e600";
}

.iconAzureIoTHub:before {
  content: "\e64e";
}

.iconFrame11891:before {
  content: "\e644";
}

.iconFrame11911:before {
  content: "\e645";
}

.iconFrame11921:before {
  content: "\e646";
}

.iconFrame11931:before {
  content: "\e647";
}

.iconFrame11901:before {
  content: "\e648";
}

.iconFrame11881:before {
  content: "\e649";
}

.iconyou1:before {
  content: "\e641";
}

.icongailan-2:before {
  content: "\e63f";
}

.icongailan1:before {
  content: "\e640";
}

.icongailan-1:before {
  content: "\e63d";
}

.icongailan:before {
  content: "\e63e";
}

.iconxia1-copy:before {
  content: "\e642";
}

.iconxia1-copy-copy:before {
  content: "\e643";
}

.iconxia1:before {
  content: "\e63c";
}

.iconxia:before {
  content: "\e636";
}

.iconmoren1:before {
  content: "\e637";
}

.iconmoren2:before {
  content: "\e638";
}

.iconmoren-1:before {
  content: "\e639";
}

.iconmoren3:before {
  content: "\e63a";
}

.iconyou:before {
  content: "\e63b";
}

.iconGroup900:before {
  content: "\e634";
}

.iconGroup1463:before {
  content: "\e635";
}

.iconGroup1462:before {
  content: "\e627";
}

.iconGroup899:before {
  content: "\e628";
}

.iconFrame1260:before {
  content: "\e629";
}

.iconGroup1457:before {
  content: "\e62a";
}

.iconGroup788:before {
  content: "\e62c";
}

.iconGroup1458:before {
  content: "\e62d";
}

.iconGroup789:before {
  content: "\e62e";
}

.iconGroup1456:before {
  content: "\e630";
}

